html {
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 5px;
}

body {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #222222;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #ffffff;
	width: 257px;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.16);
	height: 240px;
	overflow: hidden;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(151, 151, 151, 0.2);
	height: 55px;
	letter-spacing: 0.3px;
}

.title-text {
	width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.items {
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

.items .scroller {
	position: absolute;
	left: 15px;
	width: 228px;
	height: 39px;
	border-radius: 3px;
	background-color: #f85658;
	top: 0px;
	transform: translate3d(0,0,0);
	transition: transform 0.4s ease-out;
}

.item {
	cursor: pointer;
	height: 38px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}

.item-quality {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-basis: 148px;
	position: relative;
}

.item-extra-info {
	color: #f85658;
	line-height: 38px;
	margin-left: 6px;
	margin-bottom: 6px;
	font-size: 12px;
}

.item:hover .item-emoji {
	transform: perspective(50px) translate3d(0,0,0);
}

.item:hover .item-extra-info, .items:not(:hover) .item.checked .item-extra-info {
	transition: color 0.5s ease;
	color: #000000;
}

.item.checked .item-checkmark {
	transition: opacity 0.2s ease;
	opacity: 1;
}

.item.checked .item-emoji {
	transition: opacity 0.2s ease;
	opacity: 0;
}

.emoji-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	flex-basis: 17px;
}

.item-checkmark {
	background-image: url("../images/checkmark.svg");
	background-size: 20px 25px;
	background-repeat: no-repeat;
	width: 20px;
	height: 25px;
	position: absolute;
	opacity: 0;
}
